[submodule "pp-rwa-contract/lib/forge-std"]
	path = pp-rwa-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pp-rwa-contract/lib/openzeppelin-contracts"]
	path = pp-rwa-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
